<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= image_tag 'logo.svg', style: 'max-width: 150px;' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Главная', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Риски', risks_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Мой профиль', user_path(current_user), class: "nav-link" %>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <%= link_to 'Добавить риск', new_risk_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
      </form>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
              <li><%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                    <i class="glyphicon glyphicon-log-out"></i>&nbsp; Выйти
                <% end %>
              </li>
          <% else %>
              <li><%= link_to new_user_session_path, class: 'nav-link' do %>
                    <i class="glyphicon glyphicon-log-in"></i>&nbsp; Войти
                <% end %>
              </li>
              <li><%= link_to new_user_registration_path, class: 'nav-link' do %>
                    <i class="glyphicon glyphicon-plus"></i>&nbsp; Регистрация
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
    </ul>
  </div>
</nav>