<div class="container">
  <div class="row">
    <div class="col-md-12" align="center">

      <%= form_tag(controller: :risks, action: :export) do %>
          <div class="col-md-3 col-md-offset-4">
            <div class="card" style="padding: 10px; margin: 8px;">
              <div class="card-block">
                <div style="padding: 5px">
                  <%= label_tag 'Начальная дата' %><br>
                  <%= date_field_tag :start_date, nil, class: 'form-control' %>
                </div>
                <div style="padding: 5px">
                  <%= label_tag 'Конечная дата' %><br>
                  <%= date_field_tag :end_date, nil, class: 'form-control' %>
                </div>
                <%= submit_tag "CSV", value: 'csv', name: 'format', class: 'btn btn-primary' %>
                <%= submit_tag "XLS", value: 'xls', name: 'format', class: 'btn btn-primary' %>
                <%= submit_tag "XLSX", value: 'xlsx', name: 'format', class: 'btn btn-primary' %>
              </div>
      <% end %>
      </div>
      </div>
    </div>
  </div>
</div>